<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ansitcom.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F274C97051B9ABF63BE59F4F3C9243D737B81DB2</string>
				<key>dateExpires</key>
				<string>17.11.20</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7CP8A84SBA.org.reactjs.native.example.ansitcom</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7CP8A84SBA</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>7CP8A84SBA.org.reactjs.native.example.ansitcom</string>
				</array>
			</dict>
			<key>name</key>
			<string>ansitcom.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a9e3e353-12ff-4722-9b1e-e69231f2d5da</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7CP8A84SBA</string>
				<key>name</key>
				<string>ansit-com GmbH</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
